@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Welcome to My Site</h3>
    <h1 class="display-4">MVC Web App</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
